@page
@model HelloHomes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].RentPerMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].LandlordID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].LandlordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].LandlordNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].ApprovalStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Property) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentPerMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandlordID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandlordName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandlordNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
