@page 
@{ 
    var personService = new PersonService();
    var person = await personService.FindByEmailAsync(User.Identity.Name);

    var propertyService = new PropertyService();
    var properties = await propertyService.GetAllForLandlordAsync(person.Id);

    ViewData["Title"] = person.FullName;
}

<div>
    @foreach (Property property in properties)
    {
        //<div class="row">
            <div class="col-md-8">
                <ul>
                    <li>Property: @property.Name</li>
                    <li>Description: @property.Description</li>
                    <li>Bedrooms: @property.Bedrooms</li>
                    <li>Rent: £@property.RentPerMonth pcm</li>
                    <li>Status: @property.ApprovalStatus</li>
                    <li>Admin Comments: @property.ApprovalComment</li>
                </ul>
            </div>

            <div class="col-md-4">
                <img class="img img-thumbnail" src="@property.GetInlineImageSrc()" />
            </div>
        //</div>
    }
</div>