@page "{id}"
@{
    var id = long.Parse((string)RouteData.Values["id"]);
    var propertyService = new PropertyService();
    var property = await propertyService.FindAsync(id);
    try
    {
        ViewData["Title"] = property.Name;
    }
    catch (Exception)
    {
        Response.Redirect("~/Error/404");
    }

}

<style>
    .property_image {
        padding-left: 10%;
        padding-right:10%;
        padding-bottom:10%;
        padding-top:5%;
        width: 100%;
    }

    .main_info .property_name {
        font-size: 32px;
        color: #26734d;
    }

    .main_info .property_price {
        font-size: 20px;
    }
</style>

@if (property != null)
{
    @if (property.ApprovalStatus != Property.ApprovalEnum.Approved)
    {
        <p style="color:red; text-align:center;"> WARNING! This property has not been approved!</p>
    }
    <div class="main_info">
        <p class="property_name">@property.Name</p>
        <p class="property_price"> <b>£@property.RentPerMonth pcm</b></p>
    </div>
    <hr />

    <div class="property_image">
        @if (property.Image != null)
        {
            <img class="img" style="max-height:500px;background-color: #26734d;" align="middle" src="@property.GetInlineImageSrc()" />
        }
        else
        {
            <img class="img" style="max-height:500px;background-color: #26734d;" align="middle" src="~/images/home_icon.png" />
        }
    </div>

    <p><b>Description</b></p>
    <p>@property.Description</p>
    <hr />

    <div class="additional_info">
        <p><b>Bedrooms: </b>@property.Bedrooms</p>
        <p><b>Landlord: </b>@property.LandlordName</p>
        <p><b>Contact Number:</b> @property.LandlordNumber</p>
    </div>
}
else 
{
    Response.Redirect("~/Error/404");
}